<div ng-controller = 'BlueprintDiscussionsCtrl'>
  <h2>
    <%= t '.discussions', count: '5' %>
    <a id="reloadBtn" ng-click='reload()' class='btn {{btnClass()}}' >
      <i class='{{ btnIconClass() }}'></i>
    </a>
  </h2>
  <div>
    <div ng-repeat="discussion in discussions" class='discussion media'>
        <div class='pull-right'>
          <img src='{{ discussion.user.email | gravatarUrl }}' class="img-rounded media-object"></img>
        </div>
        <div class='media-body'>
          <div class='discussion-body'>
            <strong>{{discussion.user.name}}:</strong>
            <span ng-bind-html-unsafe="discussion.body | marked"></span>
          </div>
          <div class='discussion-footer'>
            <i class='icon-time'></i> <time datetime='{{discussion.created_at}}'>{{discussion.created_at | timeAgo | persianNum }}</time>
          </div>
        </div>
      </div>
    </div> <%# ng-repeat %>
  </div>

  <div>
    <form id='newDiscussionForm'>
      <fieldset>
        <legend><%= t '.your_comment' %></legend>
        <div class='control-group {{fieldClass("body")}}'>
          <textarea rows=5 ng-model='discussionForm.body' class='input-block-level'></textarea>
          <span class="help-inline" ng-show='discussionFormErrors.body[0]'>
            {{discussionFormErrors.body[0]}}
          </span>
        </div>
        <button class="btn" id='discussionFormSubmit' ng-click='createDiscussion()'><i class={{formIconClass()}}></i> <%= t '.send_your_comment' %></button>
      </fieldset>
    </form>
  </div>
</div>
