<!DOCTYPE html>
<html dir='rtl' lang='fa'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= t '.greeting' %>
    </p>

    <%= render @activities %>
  </body>
</html>
