// Place all the styles related to the revision controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
del {
  font-weight:normal;
  background:#fcc;
}
ins {
  font-weight:normal;
  background:#9f9;
}
